<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Future IPR Construction</title>

    <!-- Bootstrap -->
    <link href="\static\css\bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="background-image: url("images/Energy_TundraOaG_01.JPG"); background-repeat: no-repeat; background-attachment: fixed;">


    <header class="container-fluid" style="background:#300672; color:white">
      <h1 style="margin:20px; text-align:center">Future IPR Curve Construction</h1></header>
    <header>
    <br>

    <div class="container-fluid">
      <form class="form-horizontal" action="/" method="POST">
        <div class="form-group">
          <label class="col-sm-1 control-label"><span style="text-decoration:overline">P</span><sub>R</sub></label>
          <div class="col-sm-2">
            <input class="form-control" name="Prp" value="{{Prp}}">
          </div>
          <div class="col-sm-2">
            <input class="form-control" name="Prf" value="{{Prf}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">μ<sub>o</sub></label>
          <div class="col-sm-2">
            <input class="form-control" name="Uop" value="{{Uop}}">
          </div>
          <div class="col-sm-2">
            <input class="form-control" name="Uof" value="{{Uof}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">B<sub>o</sub></label>
          <div class="col-sm-2">
            <input class="form-control" name="Bop" value="{{Bop}}">
          </div>
          <div class="col-sm-2">
            <input class="form-control" name="Bof" value="{{Bof}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">S<sub>o</sub></label>
          <div class="col-sm-2">
            <input class="form-control" name="Sop" value="{{Sop}}">
          </div>
          <div class="col-sm-2">
            <input class="form-control" name="Sof" value="{{Sof}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">K<sub>ro</sub></label>
          <div class="col-sm-2">
            <input class="form-control" name="krop" value="{{krop}}">
          </div>
          <div class="col-sm-2">
            <input class="form-control" name="krof" value="{{krof}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">test q<sub>o</sub></label>
          <div class="col-sm-2">
            <input class="form-control" name="qo" value="{{qo}}">
          </div>
          <label class="col-sm-1 control-label">test P<sub>wf</sub></label>
          <div class="col-sm-1">
            <input class="form-control" name="pwf" value="{{pwf}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Generate Ipr table with Pwf step :</label>
          <div class="col-sm-1">
            <input class="form-control" name="step" value="{{step}}">
          </div>
        </div>
        <div class="col-sm-offset-1">
          <button type="submit" class="btn btn-default" style="background:#300672; color:white">Submit</button>
        </div>

      </form>
    </div>

      <br><br><br>
      {%if result==True%}

      <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
          <table class="table table-striped">
            <thead>
              <th>Pwf</th>
              <th>qop</th>
              <th>qof</th>
            </thead>
            <tbody>
              {%for m,n,o in Pwf|zip(qop,qoft)%}
              <tr>
                <td>{{m}}</td>
                <td>{{n}}</td>
                <td>{{o}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>

        <div class="col-xs-6 pull-right">
          {{myChart | safe}}
        </div>

      </div>

      {%endif%}



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
